/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f6fccb;
  }
  
  /* Header styles */
  header {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 60px;
    
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    
  }
  nav ul li a:hover {
    color: #f7dcdc;
    text-decoration: none;
    font-size: 23px;
  }
  
  .social-links a {
    text-decoration: none;
    color: #f7dcdc;
    margin-left: 20px;

  }
  .social-links a:hover {
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
    font-size: 23px;
  }
  
  /* Container styles */
  .container {
    display: flex;
    margin-top: 20px;
    
  }
  
  /* Sidebar styles */
  .sidebar {
    width: 30%;
    background-color: #eae9e9;
    padding: 20px;
  }
  .sidebar p{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: justify;

  }
  
  /* Main content styles */
  main {
    width: 75%;
    padding: 20px;
  }
  
  .content-box {
    margin-bottom: 20px;
    border-radius: 3px;
    background-color: #fbcaca;
    justify-content: center;


  }
  
  
  .content-box h1 {
    font-size: 20px;
    margin: 9px;
    padding: 9px;
    margin-left: 37%;
  }
  
  .content-box img {
    max-width: 20%;
    height: 20%;
    margin-left: 35%;
  }
  .content-box p {
    max-width: 70%;
    height: 20%;
    text-align: justify;
    margin-left: 13%;
    
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  